<% if signed_in? %>
	<div class = "row">
		<aside class = "span4">
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/stats' %>
			</section>
			<section>
				<%= render 'shared/micropost_form' %>
			</section>
			
		</aside>
		<aside class= "span8">
			
			<section>
				<%= render 'shared/search' %>		
			</section>
			<section>
				<%= render 'shared/feed' %>
			</section>
			
		</aside>
	</div>	
<% else %>
<% provide(:title, '') %>
<div class="center hero-unit">

<h1> Welcome to Fikker</h1>

	<h2>
    Connect with your friends — and other fascinating people. Get in-the-moment updates on the things that interest you. And watch events unfold, in real time, from every angle.
  	</h2>

  	<%= link_to "Sign up now", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>  	
<% end %>